*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgba(167, 165, 165, 0.404);
  height: 100%;
  width: 100%;
  font-family: "Raleway Dots", cursive;
  font-size: 1rem;
  line-height: 1;
  font-weight: 200;
  color: #831e02;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.wrapper {
  max-width: 65%;
  max-height: 80%;
}

.container {
  max-width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
}

#cover-date {
  position: absolute;
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
  transition: 5000ms ease-in;
  opacity: 1;
  color: rgb(255, 255, 255);
  z-index: 999;
  margin-bottom: 2rem;
}

.cover {
  background: url("/img/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 999999;
}

.nav-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  pointer-events: all;
  width: 42px;
  z-index: 999999;
}

.menu-open {
  display: none;
  position: sticky;
  width: 32px;
  z-index: 999999;
  transform: rotate(225deg);
  cursor: pointer;

}


header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  margin: 2rem 0;
  transition: 5000ms ease-in;
}

header ul {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  display: block;
  color: #916356;
  font-weight: 600;
  padding: 0.5rem;
  text-shadow: 1px 1px 4px #916356;
}

header ul li a:hover {
  background-color: antiquewhite;
  text-transform: capitalize;
  transition: 2s ease-in-out 0.1s;
}

footer {
  width: 60vw;
  background-color: #000f42;
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  transition: 5000ms ease-in;
  pointer-events: none;
  margin-left: 5%;
  transform: translate(-5%, 0%);
  box-shadow: 1px 1px 4px #000f42;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: 5000ms ease-in;
  margin: .1rem 0;
  padding: .125rem;
}

.footer ol {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  margin-bottom: .1rem;
  text-align: center;
}

.footer a {
  color: #916356;
  font-weight: 600;
  padding: 0.5rem;
  text-shadow: 1px 1px 4px #916356;
}

.footer ol a:hover {
  background-color: antiquewhite;
  text-transform: capitalize;
  transition: 2s ease-in-out 0.1s;
  text-decoration: overline;
}


.page-open {
  opacity: 0;
  padding: 1rem;
  min-width: 100%;
  height: auto;
  margin-bottom: 5rem;
  pointer-events: none;
}

.about {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#blog h2 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-content: center;
}

#blog .fade-in {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* gallery */
#gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: .1rem;
}

#gallery h2 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#gallery img {
  object-fit: initial;
  max-width: 100%;
  height: 100%;
  align-self: center;
}

.image-container {
  width: 100%;
  height: 100%;
}


.flex-even {
  display: flex;
  gap: .1rem;
}


.flex-item {
  flex: 100%;
}

@media screen and (min-width: 992px) {
  .flex-even {
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 1 1 100px;
  }
}

@media screen and (max-width: 992px) {
  .flex-even {
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 1 1 80px;
  }

}

.grid-image {
  display: grid;
  gap: .1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .grid-image {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

}

.container-grid {
  max-width: 100%;
  display: grid;
  gap: .1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 0 auto;
}

/* gallery end */

.nav-scrolled {
  transform: translateY(-100%);
  transition: 5000ms ease-in;
}

.foot-scrolled {
  bottom: 0;
  opacity: 1;
  transition: 1500ms ease-in;
  pointer-events: all;
}

/* conatct */
.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1vw 2vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

form h3 {
  color: #555;
  font-weight: 900;
  margin-bottom: 1.1rem;
}

form input,
form textarea {
  border: 0;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 2px solid #555;
  background: #f5f5f5;
  font-size: 1rem;
}

form button {
  padding: 1rem;
  background: #ff5361;
  color: #fff;
  border: 0;
  border-radius: 2rem;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 150px;
  margin: 1.2rem auto 0;
  box-shadow: 2px 2px 2px #555;
}

/* utility classes */

.whitespace {
  height: 2.5vh;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.whitespace h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.text {
  display: flex;
  gap: .7rem;
  justify-content: center;
  align-items: center;
}

.text p {
  align-self: center;
}


.fade-in {
  opacity: 0;
  transition: opacity 2s linear;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  opacity: 0;
  transition: opacity 0.25s ease-in, transform 0.4s ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translate(0);
  opacity: 1;
}

/* scroll bar */
::-webkit-scrollbar {
  width: .5rem;
  border-radius: .5rem;
  background-color: #916356;
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  height: .1rem;
  background-color: #000f42;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #916356;
}


@media screen and (max-width:768px) {
  #cover-date {
    left: 70%;
  }
}


@media screen and (max-width: 600px) {
  #cover-date {
    left: 60%;
  }

  .whitespace {
    height: 1vh;
  }

  header ul {
    width: 20vw;
    flex-direction: column;
    gap: 0;
    background: rgb(0, 15, 66);
    transition: linear;
  }

  header ul li {
    width: 100%;
    display: block;
  }

  header ul li a:hover {
    transition: ease-in-out 0.1s;
  }

  .whitespace h1,
  #blog h2,
  #gallery h2 {
    font-size: 1.7rem;
    text-align: center;
  }

  .text {
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  form input,
  form textarea {
    padding: .7rem;
    margin: .7rem;
    font-size: 1rem;
  }

  form button {
    padding: .1rem;
    font-size: 1rem;
    width: 90px;
    margin: 1rem auto 0;
  }

  .footer {
    gap: .69rem;
    font-size: 0.87rem;
  }

  .footer ol {
    gap: .39rem;
  }

  .footer a {
    padding: 0.49rem;
  }

  .nav-scrolled {
    transform: translateX(-100%);
  }

}

@media screen and (max-width: 360px) {
  .page-open {
    font-size: .8rem;
  }

  .whitespace h1,
  #blog h2,
  #gallery h2,
  #contact h2 {
    text-align: left;
  }

  #cover-date {
    left: 40%;
    font-size: .7rem;
  }

  form input,
  form textarea {
    padding: .6rem;
    margin: .6rem;
    font-size: .69rem;
  }

  .text p {
    padding: 0 .8rem;
    margin: 0 .8rem;
  }

  .footer {
    font-size: 0.69rem;
  }

  .footer a {
    padding: 0.45rem;
  }

}